<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="naviDash.popPage()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">daredot</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div class="contenHolder">
        <div ng-if="userIn()">uzytkownik przypisany</div>
        <div ng-if="questDetailsData.multiplayer==1">gra multiplayer</div>
        <h3>{{questDetailsData.name}}</h3>
        <p class="des">{{questDetailsData.description}}</p>
    </div>
    <!-- NOTE: Pokaż wyniki drużyn - moduł -->
    <div class="contenHolder versus" ng-if="userIn() && questDetailsData.multiplayer==1">
        <div class="vs">vs</div>
        <div class="box12">
            <div class="circleHolder">
                {{questDetailsData.teams_stats.white}}
            </div>
            <div class="clear"></div>
            biali
        </div>
        <div class="box12">
            <div class="circleHolder black">
                {{questDetailsData.teams_stats.black}}
            </div>
            <div class="clear"></div>
            czarni
        </div>
        <div class="clear"></div>
    </div>
    <!-- NOTE: Pokaż listę graczy - moduł -->
    <div class="contenHolder" ng-if="userIn() && questDetailsData.multiplayer==1">
        <a class="submitButton" ng-click="playersList(questDetailsData.id)">pokaż listę graczy</a>
    </div>
    <!-- NOTE: Pokaż ranking - moduł -->
    <div class="contenHolder" ng-if="userIn() && questDetailsData.multiplayer==0">
        <a class="submitButton" ng-click="playersRanking(questDetailsData.id)">pokaż ranking graczy</a>
    </div>
    <div class="contenHolder whiteFrame noContentPaddings" ng-if="userIn() && questDetailsData.multiplayer==1">
        <div class="task" ng-repeat="task in questDetailsData.teams_stats.tasks" ng-click="taskDetails(task.id)">
            <div class="multiplayerTask">
                <div class="whiteTeamPoints" ng-if="task.white==0">{{task.difficulty}}</div>
                <div class="whiteTeamPoints active" ng-if="task.white!=0">{{task.difficulty}}</div>
                <div class="blackTeamPoints" ng-if="task.black==0">{{task.difficulty}}</div>
                <div class="blackTeamPoints active" ng-if="task.black!=0">{{task.difficulty}}</div>
                <span class="title">{{task.name}}</span>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</ons-page>